body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

.container {
  margin: 0 auto;
  padding-top: 50px;
  text-align: left;
  width: 800px;
}
  
.forecast {
  background-color: rgb(69, 69, 235);
  color: white;
  margin-right: 10px;
  padding: 5px;
}

.wrapperLeft {
  float: left;
  padding-left: 50px ;
  background-color: rgb(241, 240, 240);
}

.wrapperRight {
  float: right;
  padding-right: 50px ;
  background-color: white;
}

h1 {
  background-color: rgba(31, 30, 30, 0.911);  
  color: white;
  padding: 5px 0 5px 0;
  text-align: center;
}

.todayForecast{
  border: rgb(201, 197, 197) solid 1px;
}

  
  textarea{
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
    width: 500px;
  }
  
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
  }
  
  .description{
    white-space: pre-wrap;
  }
  
  .timeBlock{
    text-align: center;
    border-top: solid #d3d3d3 2px;
    padding-top: 20px;
    width: 70px;
  }
  
.row {
    white-space: pre-wrap;
    height: 20px;
    /* border-top: 1px solid white;; */
  }
  
/*  .hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
  }
  
  .past {
    background-color: #d3d3d3;
    color: black;
  }
  
  .present {
    background-color: #ff6961;
    color: black;
  } 
  
  .future {
    background-color: #77dd77;
    color: black;
  } */
  
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06AED5;
    color: black;
    width: 60px;
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
  }
  