body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

.container {
  margin: 0 auto;
  text-align: left;
}
  
/* .jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
} */

.wrapperLeft, label, input {
  float: left;
  background-color: rgb(241, 240, 240);
}

label {
  font-size: 17px;
  font-weight: bold;
}

.wrapperRight {
  float: right;
  /* padding-right: 50px ; */
  background-color: white;
}

/************** Left column ***********/
h1 {
  background-color: rgba(31, 30, 30, 0.911);  
  color: white;
  padding: 5px 0 5px 0;
  margin-bottom: 50px;
  text-align: center;
}

.searchField {  
  background-color: white;
  border-radius: 5px;
}

.searchBtn {
  background-color: #06AED5;
  border-radius: 5px;
  color: black;
  width: auto;
}

.searchBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

/************** Right column ***********/
.currentWeather{
  border: rgb(201, 197, 197) solid 1px;
  border-radius: 3px;
  margin-left: 15px;
}

p {
  margin: none;
  margin-block: none;
  padding: none;
}

.city{
  font-size: 22px;
  font-weight: bold;
}
  
.fiveDay {
  font-size: 18px;
  font-weight: bold;  
}
.forecast {
  background-color: rgb(69, 69, 235);
  border-radius: 3px;
  color: white;
  margin-left: 15px;
  margin-right: 10px;
  padding: 5px;
}
  



/***********/
  
  textarea{
    background: transparent;
    border-radius: 3px;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
    width: 500px;
  }
  
  .description{
    white-space: pre-wrap;
  }
  
  .timeBlock{
    text-align: center;
    border-top: solid #d3d3d3 2px;
    padding-top: 20px;
    width: 70px;
  }
/*   
.row {
    white-space: pre-wrap;
    height: 20px;
    /* border-top: 1px solid white;; 
  } */
  
/*  .hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
  }
  
  .past {
    background-color: #d3d3d3;
    color: black;
  }
  
  .present {
    background-color: #ff6961;
    color: black;
  } 
  
  .future {
    background-color: #77dd77;
    color: black;
  } */
  